.prettierignore
.browserslistrc
.eslintcache
.eslintrc
.angular
.husky
.github
dist
helm
nginx
reports
tmp
node_modules
CHANGELOG.md
README.md
Dockerfile
*.log
*.sh
src/app/shared/generated/**
src/app/api/*
src/app/model/*
