:host ::ng-deep {
  label.float-label {
    color: var(--emphasis-medium);
  }
  .error-tailor-has-error ~ control-error {
    text-align: left;
  }
  .p-dialog .p-dialog-footer button {
    margin-right: 0;
  }
  .p-calendar {
    .calender-today {
      border-color: var(--primary-color);
    }
    .p-calendar-clear-icon {
      right: 40px;
    }
  }

  .p-inputtextarea {
    &.textarea-sm {
      min-height: 2rem;
    }
    &.textarea-md {
      min-height: 3rem;
    }
  }
  .p-inputtextarea-resizable {
    resize: vertical;
  }
  .input-switch-xl {
    .p-inputswitch {
      height: 1rem;
      width: 3rem;
      &.p-inputswitch-checked {
        .p-inputswitch-slider::before {
          transform: translateX(1.7rem);
        }
      }
      .p-inputswitch-slider::before {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: -0.8rem;
      }
    }
  }
}
