<ocx-portal-page helpArticleId="PAGE_WELCOME_EDIT" permission="IMAGE#EDIT">
  <div *ngIf="imageData$ | async as imageInfos" class="flex flex-column row-gap-3">
    <div class="flex flex-row justify-content-end column-gap-2">
      <p-button
        id="wc_configure_card_list_action_back"
        icon="pi pi-arrow-left"
        [routerLink]="['../']"
        [label]="'GENERAL.BACK' | translate"
        [attr.aria-label]="'GENERAL.BACK' | translate"
        [pTooltip]="'GENERAL.TOOLTIPS.BACK' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="wc_configure_card_list_action_save"
        icon="pi pi-save"
        (onClick)="onSaveOrder()"
        [disabled]="!isReordered"
        [label]="'ACTIONS.REORDER.SAVE' | translate"
        [attr.aria-label]="'ACTIONS.REORDER.SAVE' | translate"
        [pTooltip]="'ACTIONS.REORDER.SAVE_TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
    <div class="flex flex-row flex-wrap gap-4">
      <div class="p-card" styleClass="h-full" *ngFor="let info of imageInfos; let i = index">
        <div class="p-card-body w-20rem h-18rem flex flex-column flex-nowrap justify-content-between">
          <div class="my-auto text-center">
            <img
              [id]="'wc_configure_card_item_' + i + '_image'"
              class="max-w-18rem max-h-12rem"
              style="cursor: pointer"
              [alt]="('DETAIL.IMAGE' | translate) + '_' + i"
              [src]="buildImageSrc(info)"
              (click)="displayDetailDialog = true; currentImage = i"
              [attr.aria-label]="'DETAIL.TOOLTIP' | translate"
              [pTooltip]="'DETAIL.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </div>
          <div class="p-dialog-footer">
            <div class="flex flex-row flex-nowrap justify-content-between">
              <div class="flex flex-row flex-nowrap column-gap-2">
                <p-button
                  tabindex="0"
                  [id]="'wc_configure_card_item_' + i + '_action_visibility'"
                  [icon]="info.visible ? 'pi pi-eye' : 'pi pi-eye-slash'"
                  (onClick)="onChangeVisibility(info)"
                  [attr.aria-label]="'ACTIONS.VISIBILITY' | translate"
                  [pTooltip]="'ACTIONS.VISIBILITY.TOOLTIP' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                ></p-button>
                <p-button
                  tabindex="0"
                  ocxIfPermission="IMAGE#DELETE"
                  [id]="'wc_configure_card_item_' + i + '_action_delete'"
                  icon="pi pi-trash"
                  (onClick)="onDeleteImage(info.id)"
                  [attr.aria-label]="'ACTIONS.DELETE' | translate"
                  [pTooltip]="'ACTIONS.DELETE.TOOLTIP' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                ></p-button>
              </div>
              <div class="flex flex-row flex-nowrap column-gap-2">
                <p-button
                  tabindex="0"
                  [id]="'wc_configure_card_item_' + i + '_action_left'"
                  icon="pi pi-arrow-left"
                  [disabled]="!(i > 0)"
                  (onClick)="swapElement(imageData, i, i - 1)"
                  [attr.aria-label]="'ACTIONS.REORDER.MOVE_LEFT' | translate"
                  [pTooltip]="'ACTIONS.REORDER.MOVE_LEFT_TOOLTIP' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                >
                </p-button>
                <p-button
                  tabindex="0"
                  [id]="'wc_configure_card_item_' + i + '_action_right'"
                  icon="pi pi-arrow-right"
                  [disabled]="!(i !== imageData.length - 1)"
                  (onClick)="swapElement(imageData, i, i + 1)"
                  [attr.aria-label]="'ACTIONS.REORDER.MOVE_RIGHT' | translate"
                  [pTooltip]="'ACTIONS.REORDER.MOVE_RIGHT_TOOLTIP' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        *ngIf="imageData.length < 20"
        tabindex="0"
        id="wc_configure_card_action_add"
        class="w-20rem h-18rem new-image-card block flex justify-content-center align-items-center border-primary border-round-xl cursor-pointer"
        (click)="displayCreateDialog = true"
        (keydown.enter)="displayCreateDialog = true"
        (keydown.space)="displayCreateDialog = true"
        [attr.aria-label]="'ACTIONS.ADD.LABEL' | translate"
        [pTooltip]="'ACTIONS.ADD.TOOLTIP' | translate"
        tooltipPosition="bottom"
        tooltipEvent="hover"
      >
        <span class="pi pi-plus font-bold text-3xl"> </span>
      </a>
    </div>
  </div>
</ocx-portal-page>

<app-image-create
  [displayCreateDialog]="displayCreateDialog"
  (hideDialogAndChanged)="onCloseCreateDialog($event)"
  [imageInfoCount]="imageData.length"
></app-image-create>

<app-image-detail
  [displayDetailDialog]="displayDetailDialog"
  (hideDialogAndChanged)="onCloseDetailDialog()"
  [images]="images"
  [imageData]="imageData"
  [imageIndex]="currentImage"
></app-image-detail>
