<ocx-portal-page helpArticleId="PAGE_WELCOME_EDIT" permission="IMAGE#EDIT">
  <ocx-page-header
    [header]="'DIALOG.CONFIGURE.HEADER' | translate"
    [subheader]="'DIALOG.CONFIGURE.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [manualBreadcrumbs]="false"
  >
  </ocx-page-header>

  @if (imageInfo$ | async; as imageInfos) {
    <ocx-content>
      <section
        class="m-1 sm:m-2 md:m-3 flex flex-row flex-wrap gap-3 sm:gap-4 md:gap-5"
        [attr.aria-label]="'DIALOG.CONFIGURE.REGIONS.MANAGE_IMAGES' | translate"
      >
        @for (info of imageInfos; track info.id; let i = $index) {
          <section
            class="card-layout border-round-md p-1 sm:p-2 w-14rem h-11rem sm:w-16rem sm:h-13rem md:w-20rem md:h-18rem flex flex-column flex-nowrap justify-content-between row-gap-1 sm:row-gap-2"
            [attr.aria-label]="('DIALOG.CONFIGURE.REGIONS.MANAGE_IMAGE' | translate).replace('##', i + 1)"
          >
            @let ii = i + 1;
            <a
              [id]="'wc_configure_card_item_' + ii"
              class="p-1 flex justify-content-center align-items-center border-round border-2 sm:border-2 border-solid hover:border-400 hover:border-primary cursor-pointer"
              style="border-color: transparent"
              [attr.tabindex]="0"
              (click)="onOpenDetailDialog(i)"
              (keydown.enter)="onOpenDetailDialog(i)"
              (keydown.space)="onOpenDetailDialog(i)"
            >
              <app-image-item [index]="ii" [imageInfo]="info" [images]="images()" [blobUrls]="blobUrls" />
            </a>
            <!-- BUTTON bar - schema: (B B) .T. (B B) -->
            <div class="sm:mx-2 flex flex-row flex-nowrap justify-content-between align-items-center">
              <div class="p-1 sm:p-0 flex flex-row flex-nowrap justify-content-start gap-1 sm:gap-2">
                <p-button
                  [id]="'wc_configure_card_item_' + i + '_action_visibility'"
                  [icon]="info.visible ? 'pi pi-eye' : 'pi pi-eye-slash'"
                  styleClass="responsive-btn"
                  (onClick)="onChangeVisibility(info)"
                  [disabled]="isReordered"
                  [ariaLabel]="'ACTIONS.VISIBILITY.TOOLTIP' | translate"
                  [pTooltip]="'ACTIONS.VISIBILITY.TOOLTIP' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                ></p-button>
                <p-button
                  ocxIfPermission="IMAGE#DELETE"
                  [id]="'wc_configure_card_item_' + i + '_action_delete'"
                  icon="pi pi-trash"
                  styleClass="responsive-btn"
                  (onClick)="onDeleteImage(info.id, i, imageInfos)"
                  [disabled]="isReordered"
                  [ariaLabel]="'ACTIONS.DELETE.TOOLTIP' | translate"
                  [pTooltip]="'ACTIONS.DELETE.TOOLTIP' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                ></p-button>
              </div>
              <div class="font-bold">{{ ii }}</div>
              <div class="flex flex-row flex-nowrap justify-content-end gap-1 sm:gap-2">
                <p-button
                  [id]="'wc_configure_card_item_' + ii + '_action_left'"
                  icon="pi pi-arrow-left"
                  styleClass="responsive-btn"
                  (onClick)="onSwapElement(imageInfos, i, i - 1)"
                  [disabled]="imageInfos.length < 2"
                  [ariaLabel]="'ACTIONS.REORDER.MOVE_LEFT' | translate"
                  [pTooltip]="'ACTIONS.REORDER.MOVE_LEFT' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                >
                </p-button>
                <p-button
                  [id]="'wc_configure_card_item_' + ii + '_action_right'"
                  icon="pi pi-arrow-right"
                  styleClass="responsive-btn"
                  (onClick)="onSwapElement(imageInfos, i, i + 1)"
                  [disabled]="imageInfos.length < 2"
                  [ariaLabel]="'ACTIONS.REORDER.MOVE_RIGHT' | translate"
                  [pTooltip]="'ACTIONS.REORDER.MOVE_RIGHT' | translate"
                  tooltipPosition="bottom"
                  tooltipEvent="hover"
                ></p-button>
              </div>
            </div>
          </section>
        }

        @if (!this.isReordered) {
          <section [attr.aria-label]="'DIALOG.CONFIGURE.REGIONS.NEW_IMAGE' | translate">
            @if (imageInfos.length < maxImages) {
              <button
                id="wc_configure_card_action_add"
                class="w-14rem h-11rem sm:w-16rem sm:h-13rem md:w-20rem md:h-18rem block flex justify-content-center align-items-center border-round-lg border-2 border-dashed border-400 hover:border-primary cursor-pointer"
                (click)="onOpenCreateDialog()"
                (keydown.enter)="onOpenCreateDialog()"
                (keydown.space)="onOpenCreateDialog()"
                [attr.aria-label]="'ACTIONS.CREATE.TOOLTIP' | translate"
                [pTooltip]="'ACTIONS.CREATE.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="pi pi-plus font-bold text-3xl"> </span>
              </button>
            }
          </section>
        }
      </section>

      <!-- CREATE -->
      <app-image-create
        [visible]="displayCreateDialog"
        (hideDialogAndChanged)="onCloseDetailDialog($event)"
        [imageInfoCount]="imageInfos.length"
      ></app-image-create>

      <!-- DETAIL -->
      <app-image-detail
        [visible]="displayDetailDialog"
        (closeDialog)="onCloseDetailDialog(false)"
        [images]="images()"
        [imageInfos]="imageInfos"
        [imageIndex]="detailImageIndex"
      ></app-image-detail>

      <!-- IMPORT -->
      <app-welcome-import
        [visible]="displayImportDialog"
        (importEmitter)="onCloseDetailDialog($event)"
        [workspaceName]="workspace?.workspaceName"
      ></app-welcome-import>
    </ocx-content>
  }
</ocx-portal-page>
