<ocx-portal-page helpArticleId="PAGE_WELCOME_VIEW" permission="IMAGE#VIEW">
  <!-- BACKGROUND -->
  <div class="absolute top-0 left-0 w-full h-full">
    <ng-container *ngFor="let image of imageData$ | async; let i = index">
      <img
        *ngIf="!loading && i === currentSlide"
        @carouselAnimation
        class="w-full h-full bg-white wc-overview-image"
        [src]="this.buildImageSrc(image)"
        [alt]="'LANDING.PIC' | translate"
        [attr.aria-label]="'LANDING.PIC' | translate"
      />
    </ng-container>
  </div>
  <!-- INFO -->
  <div class="absolute top-0 left-0 w-full h-full wc-overview-info">
    <!-- INFO -->
    <div class="p-3 sm:py-4 sm:px-5 flex flex-row flex-wrap justify-content-between">
      <div class="flex flex-column gap-2 sm:gap-3 wc_overview_info text-white">
        <div id="wc_overview_info_title" class="text-xl sm:text-2xl md:text-4xl">
          {{ 'LANDING.TITLE' | translate }} {{ (user$ | async)?.person?.firstName }}
        </div>
        <div id="wc_overview_info_workspace" class="text-sm sm:text-base">Workspace: {{ workspace?.displayName }}</div>
      </div>
      <p-button
        *ocxIfPermission="'IMAGE#EDIT'"
        id="wc_overview_info_configure"
        styleClass="p-button-text text-white text-xs sm:text-base"
        icon="pi pi-pencil"
        [text]="true"
        [routerLink]="['./configure']"
        [label]="'GENERAL.CONFIGURE' | translate"
        [ariaLabel]="'GENERAL.CONFIGURE' | translate"
        [pTooltip]="'GENERAL.TOOLTIPS.CONFIGURE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </div>

  <!-- SLOTs -->
  <div class="absolute top-slot sm:top-slot left-0 w-full h-full wc-overview-slot">
    <div class="px-3 sm:px-5 grid flex-column-reverse sm:flex-row justify-content-between row-gap-5">
      <!-- SLOT: Bookmarks -->
      <div class="col-12 sm:col-6 md:col-5 xl:col-4 py-0 sm:p-2">
        <div
          *ngIf="isBookmarkListComponentAvailable$ | async"
          class="w-full max-h-26rem overflow-hidden border-round-lg border-solid border-1 border-transparent"
        >
          <ocx-slot [name]="bookmarkListSlotName"></ocx-slot>
        </div>
      </div>
      <!-- SLOT: Announcements -->
      <div *ngIf="isAnnouncementListActiveComponentAvailable$ | async" class="col-12 sm:col-6 xl:col-5 py-0 sm:p-2">
        <div class="w-full max-h-25rem overflow-hidden border-round-lg border-solid border-1 border-transparent">
          <ocx-slot [name]="listActiveSlotName"> </ocx-slot>
        </div>
      </div>
    </div>
  </div>
</ocx-portal-page>
