:host ::ng-deep {
  .p-dock-right {
    top: -1.7rem;
    right: 0.3rem;
  }
  .wc-overview-image {
    display: block;
    object-fit: none; /* fill | contain | cover | none | scale-down */
    object-position: center center; /* [left | center | right] [ top | center | bottom ] [percentage percentage] */
  }
  .wc-overview-info {
    mix-blend-mode: difference;
    color: var(--primary-color);
    filter: invert(1);
  }
  /* SLOT area */
  .wc-overview-slot {
    isolation: isolate;
    padding-top: 110px;
  }

  @media (forced-colors: active) {
    .forced {
      forced-color-adjust: none;
    }
  }

  @media screen and (max-width: 575px) {
    .pt-slot {
      padding-top: 70px;
    }
  }
  // sm
  @media screen and (min-width: 576px) {
    .pt-slot {
      padding-top: 90px;
    }
  }
  // md
  @media screen and (min-width: 768px) {
    .pt-slot {
      padding-top: 110px;
    }
  }
}
