<ocx-portal-page helpArticleId="PAGE_WELCOME_VIEW" permission="IMAGE#VIEW">
  <ng-container *ngFor="let slide of imageInfos; let i = index">
    <img
      *ngIf="i === currentSlide"
      class="slide absolute top-0 left-0 w-full h-full"
      @carouselAnimation
      [src]="this.buildImageSrc(slide)"
      [alt]="slide.imageId"
      [title]="slide.imageId"
    />
  </ng-container>

  <!-- INFO -->
  <div class="info absolute overflow-hidden w-11 flex flex-row flex-wrap justify-content-between text-white">
    <div>
      <div id="wc_overview_info_title" class="mb-4 text-6xl font-light">
        {{ 'LANDING.TITLE' | translate }} {{ (user$ | async)?.person?.firstName }}
      </div>
      <div id="wc_overview_info_date" class="text-3xl font-light">{{ currentDate | date }}</div>
      <div id="wc_overview_info_workspace" class="text-sm mt-1">Workspace: {{ workspace?.displayName }}</div>
    </div>
    <div>
      <p-button
        ocxIfPermission="'IMAGE#EDIT'"
        id="wc_overview_info_configure"
        styleClass="p-button-text text-white"
        icon="pi pi-pencil"
        [text]="true"
        [routerLink]="['./configure']"
        [label]="'GENERAL.CONFIGURE' | translate"
        [aria-label]="'GENERAL.TOOLTIPS.CONFIGURE' | translate"
        [pTooltip]="'GENERAL.TOOLTIPS.CONFIGURE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </div>

  <!-- SLOT: Announcements -->
  <div class="announcements absolute w-5 border-round-lg border-solid border-white">
    <ocx-slot *ngIf="isListActiveAnnouncementsComponentDefined$ | async" name="{{ listActiveSlotName }}"> </ocx-slot>
  </div>
</ocx-portal-page>
