.p-carousel.p-component.p-carousel-horizontal {
  display: none;
}

.slide {
  object-fit: cover;
  z-index: 1;
}
.info {
  top: 3rem;
  left: 4rem;
  z-index: 10;
}
.announcements {
  top: 7rem;
  right: 4rem;
  z-index: 10;
}

/*
.message-window {
  max-height: 400px;
}
*/
