<ocx-portal-page helpArticleId="PAGE_WELCOME_EDIT" permission="IMAGE#EDIT">
  <div class="flex flex-column row-gap-3">
    <div class="flex flex-row justify-content-end column-gap-2">
      <p-button
        id="wc_card_list_action_back"
        icon="pi pi-arrow-left"
        [routerLink]="['../']"
        [label]="'GENERAL.BACK' | translate"
        [pTooltip]="'GENERAL.TOOLTIPS.BACK' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="wc_card_list_action_save"
        icon="pi pi-save"
        (onClick)="this.onSaveOrder()"
        [disabled]="!this.isReordered"
        [label]="'ACTIONS.REORDER.SAVE' | translate"
        [pTooltip]="'ACTIONS.REORDER.SAVE_TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
    <div class="flex flex-row flex-wrap gap-4">
      <p-card class="w-20rem h-20rem p-overlay-badge" styleClass="" *ngFor="let info of imageInfos; let i = index">
        <ng-template pTemplate="content">
          <img
            [id]="'wc_card_list_' + i + '_image'"
            [alt]="'image-' + i"
            [src]="this.buildImageSrc(info)"
            class="w-full h-13rem"
            style="_object-fit: cover"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex flex-row flex-nowrap justify-content-between">
            <div class="flex flex-row flex-nowrap column-gap-2">
              <p-button
                [id]="'wc_card_list_' + i + '_action_visibility'"
                [icon]="info.visible ? 'pi pi-eye' : 'pi pi-eye-slash'"
                class="visibilityChange"
                (onClick)="this.updateVisibility(info)"
                [pTooltip]="'ACTIONS.VISIBILITY.TOOLTIP' | translate"
                tooltipPosition="bottom"
                tooltipEvent="hover"
              ></p-button>
              <p-button
                ocxIfPermission="'IMAGE#DELETE'"
                [id]="'wc_card_list_' + i + '_action_delete'"
                icon="pi pi-trash"
                id=""
                (onClick)="this.handleDelete(info.id)"
                [pTooltip]="'ACTIONS.DELETE.TOOLTIP' | translate"
                tooltipPosition="bottom"
                tooltipEvent="hover"
              ></p-button>
            </div>
            <div class="flex flex-row flex-nowrap column-gap-2">
              <p-button
                [id]="'wc_card_list_' + i + '_action_left'"
                icon="pi pi-arrow-left"
                [disabled]="!(i > 0)"
                (onClick)="this.swapElement(this.imageInfos, i, i - 1)"
                [pTooltip]="'ACTIONS.REORDER.MOVE_LEFT_TOOLTIP' | translate"
                tooltipPosition="bottom"
                tooltipEvent="hover"
              >
              </p-button>
              <p-button
                [id]="'wc_card_list_' + i + '_action_right'"
                icon="pi pi-arrow-right"
                [disabled]="!(i !== imageInfos.length - 1)"
                (onClick)="this.swapElement(this.imageInfos, i, i + 1)"
                [pTooltip]="'ACTIONS.REORDER.MOVE_RIGHT_TOOLTIP' | translate"
                tooltipPosition="bottom"
                tooltipEvent="hover"
              ></p-button>
            </div>
          </div>
        </ng-template>
      </p-card>
      <div
        *ngIf="this.imageInfos.length < 20"
        [id]="'wc_card_list_action_add'"
        (click)="this.displayImageDialog = true"
        class="w-20rem h-20rem new-image-card flex justify-content-center align-items-center border-primary border-round-xl cursor-pointer"
        [pTooltip]="'ACTIONS.ADD.TOOLTIP' | translate"
        tooltipPosition="bottom"
        tooltipEvent="hover"
      >
        <a
          tabindex="0"
          class="pi pi-plus font-bold text-3xl"
          (keydown.enter)="this.displayImageDialog = true"
          (keydown.space)="this.displayImageDialog = true"
          aria-label="'ACTIONS.ADD.LABEL' | translate"
        >
        </a>
      </div>
    </div>
  </div>
</ocx-portal-page>

<app-image-dialog
  [displayDetailDialog]="displayImageDialog"
  (hideDialogAndChanged)="onCloseDialog($event)"
  [imageInfoCount]="this.imageInfos.length"
></app-image-dialog>
