<ocx-portal-page helpArticleId="PAGE_WELCOME_EDIT">
  <div>
    <div class="card-wrapper grid pb-4">
      <p-card class="col-3 p-overlay-badge" *ngFor="let info of imageInfos; let i = index">
        <ng-template pTemplate="header">
          <img
            alt="{{ 'image ' + info.position }}"
            src="{{ this.buildImageSrc(info) }}"
            style="height: 13rem; object-fit: cover"
          />
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex">
            <div class="action-buttons" style="margin-right: auto">
              <p-button
                class="visibilityChange"
                pTooltip="{{ 'ACTIONS.VISIBILITY.TOOLTIP' | translate }}"
                (onClick)="this.updateVisibility(info)"
                icon="{{ info.visible ? 'pi pi-eye' : 'pi pi-eye-slash' }}"
              ></p-button>
              <p-button
                pTooltip="{{ 'ACTIONS.DELETE.TOOLTIP' | translate }}"
                icon="pi pi-trash"
                styleClass="p-button-secondary"
                [style]="{ 'margin-left': '.5em' }"
                (onClick)="this.handleDelete(info.id)"
              ></p-button>
            </div>
            <div class="arrow-buttons" style="margin-left: auto">
              <p-button
                [disabled]="!(i > 0)"
                icon="pi pi-arrow-left"
                [style]="{ 'margin-left': '.5em' }"
                (onClick)="this.swapElement(this.imageInfos, i, i - 1)"
              >
              </p-button>
              <p-button
                [disabled]="!(i !== imageInfos.length - 1)"
                icon="pi pi-arrow-right"
                [style]="{ 'margin-left': '.5em' }"
                (onClick)="this.swapElement(this.imageInfos, i, i + 1)"
              ></p-button>
            </div>
          </div>
        </ng-template>
      </p-card>
      <div *ngIf="this.imageInfos.length <= 8" (click)="this.displayImageDialog = true" class="col-3 addImageCard">
        <span class="pi pi-plus plus"></span>
      </div>
    </div>
    <p-button [disabled]="!this.isReordered" (onClick)="this.onSaveOrder()">Save order</p-button>
  </div>
</ocx-portal-page>
<app-image-dialog
  [displayDetailDialog]="displayImageDialog"
  (hideDialogAndChanged)="onCloseDialog($event)"
  [imageInfoCount]="this.imageInfos.length"
></app-image-dialog>
