@import '/src/_mixins.scss';

@include danger-action;

.new-image-card {
  outline-style: dashed;
  outline-offset: -8px;
  outline-color: lightgray;
  a {
    color: lightgray;
  }
  &:hover {
    outline-color: var(--primary-color);
    a {
      color: var(--primary-color);
    }
  }
}
