---
openapi: 3.0.3
info:
  title: onecx-welcome-bff
  description: OneCX Welcome BFF
  version: 1.0.0
  contact:
    email: "tkit_dev@1000kit.org"
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: "http://onecx-welcome-bff:8080"
tags:
  - name: imagesInternal
paths:
  /images/info/{id}:
    get:
      x-onecx:
        permissions:
          image:
            - read
      tags:
        - imagesInternal
      description: get Image information by id
      operationId: getImageInfoById
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageInfo"
        "404":
          description: NOT FOUND
    put:
      x-onecx:
        permissions:
          image:
            - write
      tags:
        - imagesInternal
      description: update Image information
      operationId: updateImageInfo
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageInfo'
      responses:
        "200":
          description: UPDATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageInfo'
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
    delete:
      x-onecx:
        permissions:
          image:
            - delete
      tags:
        - imagesInternal
      description: delete Image information
      operationId: deleteImageInfoById
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        "204":
          description: DELETED
        "404":
          description: NOT FOUND
  /images/info:
    post:
      x-onecx:
        permissions:
          image:
            - write
      tags:
        - imagesInternal
      description: create image information
      operationId: createImageInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageInfo'
      responses:
        "201":
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageInfo'
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /images/{workspaceName}/info:
    get:
      x-onecx:
        permissions:
          image:
            - read
      tags:
        - imagesInternal
      description: get all existing Image informations by workspace name
      operationId: getAllImageInfosByWorkspaceName
      parameters:
        - in: path
          name: workspaceName
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImageInfo'
  /images/info/reorder:
    post:
      x-onecx:
        permissions:
          image:
            - write
      tags:
        - imagesInternal
      description: update order of Images
      operationId: updateImageOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageInfoReorderRequest'
      responses:
        "200":
          description: UPDATED
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /images:
    post:
      x-onecx:
        permissions:
          image:
            - write
      tags:
        - imagesInternal
      description: create Image
      operationId: createImage
      requestBody:
        content:
          image/*:
            schema:
              type: string
              format: binary
      responses:
        "201":
          description: CREATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDataResponse'
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /images/{id}:
    get:
      x-onecx:
        permissions:
          image:
            - read
      tags:
        - imagesInternal
      description: get Image by id
      operationId: getImageById
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDataResponse'
        "404":
          description: NOT FOUND
    put:
      x-onecx:
        permissions:
          image:
            - write
      tags:
        - imagesInternal
      description: update Image by id
      operationId: updateImageById
      parameters:
        - $ref: '#/components/parameters/id'
      requestBody:
        content:
          image/*:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDataResponse'
        "400":
          description: BAD REQUEST
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /images/{workspaceName}/import:
    post:
      x-onecx:
        permissions:
          image:
            - write
      tags:
        - imagesExportImport
      description: import images
      operationId: importImages
      parameters:
        - in: path
          name: workspaceName
          schema:
            type: string
          required: true
          description: target workspace for import
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WelcomeSnapshot'
      responses:
        "200":
          description: Import successful
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
  /images/export:
    post:
      x-onecx:
        permissions:
          image:
            - read
      tags:
        - imagesExportImport
      description: export images
      operationId: exportImages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportWelcomeRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WelcomeSnapshot'
        "404":
          description: No images found
components:
  schemas:
    WelcomeSnapshot:
      type: object
      properties:
        id:
          type: string
          minLength: 10
          description: ID of the request
        created:
          $ref: '#/components/schemas/OffsetDateTime'
        config:
          $ref: '#/components/schemas/WelcomeConfig'
    WelcomeConfig:
      type: object
      properties:
        images:
          type: array
          items:
            $ref: '#/components/schemas/EximImage'
    EximImage:
      type: object
      nullable: false
      properties:
        image:
          $ref: '#/components/schemas/EximImageInfo'
        imageData:
          $ref: '#/components/schemas/EximImageData'
    ExportWelcomeRequest:
      type: object
      properties:
        workspaceName:
          type: string
    EximImageData:
      type: object
      properties:
        imageData:
          type: string
          format: binary
        dataLength:
          type: integer
        mimeType:
          type: string
    EximImageInfo:
      required:
        - workspaceName
      type: object
      properties:
        position:
          type: string
        visible:
          type: boolean
        objectFit:
          $ref: '#/components/schemas/ObjectFit'
        objectPosition:
          type: string
        backgroundColor:
          type: string
        url:
          type: string
    ImageDataResponse:
      type: object
      properties:
        imageId:
          type: string
        imageData:
          type: string
          format: binary
        dataLength:
          type: integer
        mimeType:
          type: string
        modificationCount:
          format: int32
          type: integer
        creationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        creationUser:
          type: string
        modificationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        modificationUser:
          type: string
    ImageInfo:
      required:
        - workspaceName
      type: object
      properties:
        position:
          type: string
        visible:
          type: boolean
        objectFit:
          $ref: '#/components/schemas/ObjectFit'
        objectPosition:
          type: string
        backgroundColor:
          type: string
        url:
          type: string
        imageId:
          type: string
        id:
          type: string
        modificationCount:
          format: int32
          type: integer
        creationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        creationUser:
          type: string
        modificationDate:
          $ref: '#/components/schemas/OffsetDateTime'
        modificationUser:
          type: string
        workspaceName:
          type: string
    ObjectFit:
      type: string
      enum: [ none, contain, cover, fill, scale-down ]
    ImageInfoReorderRequest:
      type: object
      properties:
        imageInfos:
          type: array
          items:
            $ref: '#/components/schemas/ImageInfo'
    OffsetDateTime:
      format: date-time
      type: string
      example: 2022-03-10T12:15:50-04:00
    ProblemDetailResponse:
      type: object
      properties:
        errorCode:
          type: string
        detail:
          type: string
        params:
          type: array
          items:
            $ref: '#/components/schemas/ProblemDetailParam'
        invalidParams:
          type: array
          items:
            $ref: '#/components/schemas/ProblemDetailInvalidParam'
    ProblemDetailParam:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    ProblemDetailInvalidParam:
      type: object
      properties:
        name:
          type: string
        message:
          type: string
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string

