app:
  name: ui
  image:
    repository: 'onecx/onecx-welcome-ui'
  routing:
    enabled: true
    path: /mfe/welcome/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: "./OneCXWelcomeModule"
          description: "OneCX Welcome UI"
          note: "OneCX Welcome UI auto import via MF operator"
          type: MODULE
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-welcome
          tagName: ocx-welcome-component
    slot:
      enabled: true
      specs:
        onecx-welcome-list-active:
          name: 'onecx-welcome-list-active'
          description: 'List active announcements for workspace'
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          IMAGE:
            DELETE: Delete image
            EDIT: Edit image
            VIEW: View image
            
# PIPE Config
