<p-dialog
  [header]="'DETAIL.TITLE' | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="onDialogHide()"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [showHeader]="true"
>
  <p-carousel [value]="imageData" [numVisible]="1" [numScroll]="1" [page]="imageIndex">
    <ng-template let-info let-i="index" pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img class="w-full border-round" [src]="this.buildImageSrc(info)" [alt]="'DETAIL.IMAGE' | translate" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        id="wc_image_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'GENERAL.CANCEL' | translate"
        [attr.aria-label]="'GENERAL.CANCEL' | translate"
        [pTooltip]="'GENERAL.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
