<p-dialog
  [header]="'DIALOG.DETAIL.HEADER' | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="onDialogHide()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
>
  <div class="flex flex-wrap flex-row gap-5 justify-content-between">
    <div class="w-20rem h-16rem flex justify-content-center align-items-center surface-border border-1 border-round">
      <img
        #detailImage
        class="w-19rem h-15rem block border-round m-auto"
        [ngStyle]="{
          'object-fit': formGroup.controls['objectFit'].value,
          'object-position': formGroup.controls['objectPosition'].value,
          'background-color': formGroup.controls['backgroundColor'].value
        }"
        [src]="buildImageSrc(imageInfos[imageIndex])"
        [alt]="'DIALOG.DETAIL.PIC' | translate"
      />
    </div>
    <div [formGroup]="formGroup" errorTailor class="mt-1 flex flex-wrap flex-column gap-4 justify-content-between">
      <div>
        <span class="p-float-label">
          <p-dropdown
            id="wc_detail_form_object_fit"
            styleClass="w-full"
            formControlName="objectFit"
            [options]="objectFitOptions"
            [appendTo]="'body'"
            [attr.aria-label]="'IMAGE.OBJECT_FIT' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.OBJECT_FIT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-dropdown>
          <label for="wc_detail_form_object_fit">{{ 'IMAGE.OBJECT_FIT' | translate }}</label>
        </span>
      </div>
      <div class="flex flex-column row-gap-1">
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            class="w-full"
            id="wc_detail_form_object_position"
            formControlName="objectPosition"
            [attr.aria-label]="'IMAGE.OBJECT_POSITION' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.OBJECT_POSITION' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="wc_detail_form_object_position">{{ 'IMAGE.OBJECT_POSITION' | translate }}</label>
        </span>
        <div class="text-xs">
          Format:
          <div style="max-width: 230px">
            [left | <b>center</b> | right] [ top | <b>center</b> | bottom ] [percentage percentage]
          </div>
        </div>
      </div>
      <div class="flex flex-column row-gap-1">
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            class="w-full"
            id="wc_detail_form_background"
            formControlName="backgroundColor"
            [attr.aria-label]="'IMAGE.BACKGROUND_COLOR' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.BACKGROUND_COLOR' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="wc_detail_form_background">{{ 'IMAGE.BACKGROUND_COLOR' | translate }}</label>
        </span>
        <div class="text-xs">Format: [ <b>unset</b> | color-name | color-value ]</div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        id="wc_image_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CANCEL' | translate"
        [attr.aria-label]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="wc_image_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSave()"
        [label]="'ACTIONS.SAVE.LABEL' | translate"
        [attr.aria-label]="'ACTIONS.SAVE.LABEL' | translate"
        [pTooltip]="'ACTIONS.SAVE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
