<p-dialog
  header="{{ 'DETAIL.TITLE' | translate }}"
  [(visible)]="displayDetailDialog"
  (onHide)="onDialogHide()"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [showHeader]="true"
>
  <p-carousel [value]="imageInfos" [numVisible]="1" [numScroll]="1">
    <ng-template let-info pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              [src]="this.buildImageSrc(info)"
              [alt]="'image'"
              class="w-full border-round"
              [aria-label]="'DETAIL.TOOLTIP' | translate"
              [pTooltip]="'DETAIL.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        id="wc_add_image_action_cancel"
        (onClick)="onDialogHide()"
        icon="pi pi-times"
        [label]="'GENERAL.CANCEL' | translate"
        [aria-label]="'GENERAL.TOOLTIPS.CANCEL' | translate"
        [pTooltip]="'GENERAL.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
